<div class="about">
    <div class="skills"></div>
    <div class="leftside">
        <div class="education">
            <p>Bachelores of technology(CSE)</p>
            <p>2019-2023</p>







            
        </div>
        <div class="intenship">

        </div>

    </div>
    <div class="rightside">
        <div class="certification">

        </div>
        <div class="platforms">

        </div>
    </div>
    <div class="resume">

    </div>
</div>
<div class="aboutme">
    <a routerLink="/Contact">
        <p>lets go to contact <img src="../../assets/icons8-right-arrow-30.png" class="arrow-icon"> </p>
    </a>
 </div>
<app-footer></app-footer>