<!-- <div class="about">
    <div class="skills"></div>
    <div class="leftside">
        <div class="education">
            <h2>Education</h2>
            <p>Bachelores of technology(CSE)</p>
            <p>2019-2023 || CGPA : 7.78</p>            
        </div>
        <div class="Skills">
            <h2>Skills</h2>
            <p>Python || Angular || DSA </p>

        </div>
        <div class="intenship">
            <h2>Internship</h2>
            <h3>Python Intern || Leadzen.ai(Mumbai)</h3>
            <p>During Internship my primary responsibilities are to write python scripts to scrape data using Selenium(Python)</p>
            <p>Worked on forntend to integrate the Google analytics API of Company Product Using Angular</p>
            <p>Also Used AppScript to automate the Goofle Spreedsheets</p>

        </div>



    </div>
   
</div> -->
<div class="about">
    <div class="leftside">
      <div class="internship">
        <h2>Internship</h2>
        <h3>Python Intern || Leadzen.ai (Mumbai) || 10/23 - 01/24</h3>
        <p># During Internship my primary responsibilities are to write python scripts to scrape data using Selenium(Python)</p>
        <p># Worked on frontend to integrate the Google Analytics API of Company Product Using Angular</p>
        <p># Also Used AppScript to automate Google Spreadsheets</p>
      </div>
      <div class="education">
        <h2>Education</h2>
        <p>Bachelors of Technology (CSE)</p>
        <p>2019-2023 </p>
        <p> CGPA: 7.78</p>
      </div>
      <div class="skills">
        <h2>Skills</h2>

        <p><strong>Web FrameWorks : </strong> Angular, HTML, CSS, RestFul API</p>
        <p><strong>Programming : </strong> Python, TypeScript</p>
        <p><strong>Course Work : </strong> DSA, OS, Cryptography</p>

        <!-- <p>Python || Angular</p>
        <p>DSA || TypeScript</p>
        <p>HTML || CSS</p>
        <p>RESTFul API</p> -->
      </div>
    </div>
  </div>
  
  
<div class="aboutme">
    <a routerLink="/Contact">
        <p class="hello">lets go to Contact <img src="../../assets/icons8-right-arrow-30.png" class="arrow-icon"> </p>
    </a>
 </div>
<app-footer></app-footer>